ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.root {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-wrapper-sidebar {
  position: relative;
  width: 240px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #dcdfe6;
}

.main-wrapper-sidebar .menu-root {
  position: relative;
  padding: 10px 20px;
  width: calc(240px - 6px);
}

.main-wrapper-sidebar a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #34495e;
}

.main-wrapper-sidebar .main-wrapper-sidebar-link {
  font-size: 1rem;
  cursor: default;
  line-height: 2.5em;
  color: #34495e;
}

.main-wrapper-sidebar .menu-sub {
  font-size: 1rem;
}

.main-wrapper-sidebar .menu-sub li {
  line-height: 2rem;
}

.main-wrapper-sidebar .menu-sub li a {
  padding-left: 18px;
}

.main-wrapper-sidebar .menu-sub li a.active {
  color: #0092dd;
}

.main-wrapper-sidebar .menu-sub li a:hover {
  color: #0092dd;
  background-color: #f5f7fa;
  cursor: pointer;
}

.main-wrapper-container {
  flex: 1;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 30px 10px 30px;
}
