@import '../../../../css/config/index';

.#{$pre}-progress {
  position: relative;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 10px;
  color: #606266;

  .out-line {
    position: relative;
    display: flex;
    align-items: center;

    .line {
      position: relative;
      flex: 2;
      height: 100%;
      overflow: hidden;
      background-color: #ebeef5;

      .finished {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }

    .text {
      text-align: right;

      &.inside {
        position: absolute;
        margin-left: 0;
        color: #fff;
      }
    }
  }

  .circle {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-color: #ebeef5;

    .inner {
      position: relative;
      z-index: 3;
      border-radius: 50%;
      background-color: #fff;
    }

    .right {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;

      .right-finish {
        position: absolute;
        z-index: 2;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transform-origin: right center;
      }
    }

    .left {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;

      .leftFinish {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        transform-origin: left center;
      }
    }

    .text {
      position: absolute;
      z-index: 4;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
