@import '../../../../css/config/index';

.#{$pre}-input-number {
  text-align: center;

  .#{$pre}-input-number-front {
    padding: 0 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-right: 1px solid #dcdfe6;
    user-select: none;

    &:not(.disabled):hover {
      color: #409eff;
    }

    &.disabled {
      background-color: #f5f7fa;
      opacity: 0.7;
      cursor: not-allowed;
      user-select: none;
    }
  }

  .#{$pre}-input-number-behind {
    padding: 0 10px;
    border-left: 1px solid #dcdfe6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;

    &:not(.disabled):hover {
      color: #409eff;
    }

    &.disabled {
      background-color: #f5f7fa;
      opacity: 0.7;
      cursor: not-allowed;
      user-select: none;
    }
  }

  .#{$pre}-input-number-right {
    border-left: 1px solid #dcdfe6;

    .#{$pre}-input-number-top {
      padding: 0 10px;
      border-bottom: 1px solid #dcdfe6;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;

      &:not(.disabled):hover {
        color: #409eff;
      }

      &.disabled {
        background-color: #f5f7fa;
        opacity: 0.7;
        cursor: not-allowed;
        user-select: none;
      }
    }

    .#{$pre}-input-number-bottom {
      padding: 0 10px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;

      &:not(.disabled):hover {
        color: #409eff;
      }

      &.disabled {
        background-color: #f5f7fa;
        opacity: 0.7;
        cursor: not-allowed;
        user-select: none;
      }
    }
  }
}
