
.demo-block {
  margin-top: 20px;

  .hljs {
    background-color: #f4f4f4 !important;
  }

  pre {
    margin: 0;
  }

  .demo-wrap {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: box-shadow 1s;
    padding: 20px;

    &.show {
      box-shadow: 0 0 12px #0000001a;
    }

    .demo-source {
    }

    .demo-highlight {
      flex: 1;
      position: relative;
      transition: height ease .2s;
      background-color: #fafafa;

      .demo-icon {
        height: 40px;
        line-height: 40px;
        text-align: right;
        padding-right: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #fff;

        .demo-icon__item {
          display: inline-block;
          width: 30px;
          height: 30px;
          font-size: 18px;
          border-radius: 100%;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
          margin-left: 10px;
          transition: all ease .2s;

          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }

          &:active {
            background: rgba(0, 0, 0, 0.2);
          }
        }
      }

      .close-content {
        line-height: 40px;
        text-align: center;
        position: sticky;
        bottom: 0;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #909399;;
        cursor: pointer;
        &:hover {
          color: #409eff;
        }
      }

    }
  }
}
