@import '../../../../css/config/index';

.#{$pre}-card {
  position: relative;
  display: block;
  padding: 5px;
  border: 1px solid #ebeef5;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #303133;
  background-color: #fff;
  box-shadow: 0 0 12px #0000001a;

  .header {
    padding: 20px;
    border-bottom: 1px solid #ebeef5;
  }

  .content {
    padding: 20px;
  }
}
