@import '../../../../../../css/config/index';

.#{$pre}-pager {
  display: inline-block;

  .prev {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;

    &.disabled {
      color: #c0c4cc;
      cursor: not-allowed;
    }

    &:not(.disabled):hover {
      color: #409eff;
      cursor: pointer;
    }
  }

  .next {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;

    &.disabled {
      color: #c0c4cc;
      cursor: not-allowed;
    }

    &:not(.disabled):hover {
      color: #409eff;
      cursor: pointer;
    }
  }

  .content {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;

    & > li {
      display: inline-block;
      width: 30px;
      height: 30px;
      font-size: 13px;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      color: #606266;

      &.selected {
        color: #409eff;
      }

      &:hover {
        color: #409eff;
        cursor: pointer;
      }

      &.btns {
        margin: 0 5px;
        border-radius: 5px;
        color: #606266;
        background-color: #f4f4f5;

        &:hover {
          color: #409eff;
        }

        &.selected {
          color: #fff;
          background-color: #409eff;

          &:hover {
            color: #fff;
          }
        }
      }

      & > .#{$pre}-value-content {
        position: relative;
        width: 100%;
        height: 100%;
      }

      & > .left-icon {
        &::before {
          content: '...';
        }

        &:hover::before {
          content: '<<';
        }
      }

      & > .right-icon {
        &::before {
          content: '...';
        }

        &:hover::before {
          content: '>>';
        }
      }
    }
  }
}
