@import '../../../../css/config/index';

.#{$pre}-divider {
  &.horizontal {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: transparent;

    &.show-line {
      background-color: #dcdfe6;
    }

    .slot {
      padding: 0 20px;
      font-weight: 500;
      font-size: 14px;
      color: #303133;
      background-color: #fff;

      &.left {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
      }

      &.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      &.right {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
    }
  }

  &.vertical {
    display: inline-block;
    width: 1px;
    height: 1rem;
    margin: 0 8px;
    vertical-align: middle;
    background-color: #dcdfe6;
  }
}
