@import '../../../../css/config/index';
@import '../../../../css/transition/index';

// top,right 排列顺序有区别
// border位置有区别

.#{$pre}-tabs {
  position: relative;
  display: flex;
  height: 100%;

  &.top {
    flex-direction: column;

    .title {
      display: flex;
      flex-direction: row;

      &:not(.card) {
        border-bottom: 2px solid #e4e7ed;

        .item::after {
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #409eff;
          opacity: 0;
          content: '';

          @include transition-time();
        }

        .item.active::after {
          opacity: 1;
        }
      }

      &.card {
        border-bottom: 1px solid #e4e7ed;

        .item {
          margin-bottom: -1px;
          border: 1px solid #e4e7ed;

          &:not(:first-child) {
            margin-left: -1px;
          }
        }
      }
    }
  }

  &.right {
    flex-direction: row-reverse;

    .title {
      display: flex;
      flex-direction: column;

      &:not(.card) {
        border-left: 2px solid #e4e7ed;

        .item::after {
          position: absolute;
          top: 0;
          left: -2px;
          width: 2px;
          height: 100%;
          background-color: #409eff;
          opacity: 0;
          content: '';

          @include transition-time();
        }

        .item.active::after {
          opacity: 1;
        }
      }

      &.card {
        border-left: 1px solid #e4e7ed;

        .item {
          margin-left: -1px;
          border: 1px solid #e4e7ed;

          &:not(:first-child) {
            margin-top: -1px;
          }
        }
      }
    }
  }

  &.bottom {
    flex-direction: column-reverse;

    .title {
      display: flex;
      flex-direction: row;

      &:not(.card) {
        border-top: 2px solid #e4e7ed;

        .item::after {
          position: absolute;
          top: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #409eff;
          opacity: 0;
          content: '';

          @include transition-time();
        }

        .item.active::after {
          opacity: 1;
        }
      }

      &.card {
        border-top: 1px solid #e4e7ed;

        .item {
          margin-top: -1px;
          border: 1px solid #e4e7ed;

          &:not(:first-child) {
            margin-left: -1px;
          }
        }
      }
    }
  }

  &.left {
    flex-direction: row;

    .title {
      display: flex;
      flex-direction: column;

      &:not(.card) {
        border-right: 2px solid #e4e7ed;

        .item::after {
          position: absolute;
          top: 0;
          right: -2px;
          width: 2px;
          height: 100%;
          background-color: #409eff;
          opacity: 0;
          content: '';

          @include transition-time();
        }

        .item.active::after {
          opacity: 1;
        }
      }

      &.card {
        border-right: 1px solid #e4e7ed;

        .item {
          margin-right: -1px;
          border: 1px solid #e4e7ed;

          &:not(:first-child) {
            margin-top: -1px;
          }
        }
      }
    }
  }

  .item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    &.active {
      color: #409eff;
    }

    &:not(.disabled):hover {
      color: #409eff;
    }

    &.disabled {
      color: #c0c4cc;
      cursor: not-allowed;
    }

    .close {
      height: 16px;
      margin-left: 6px;
    }
  }

  .content {
    flex: 1;
  }
}
