@import '../../../../css/config/index';

@mixin alert-type() {
  &.tip {
    border-color: #909399;
    color: #fff;
    background-color: #909399;
  }

  &.success {
    border-color: #67c23a;
    color: #fff;
    background-color: #67c23a;
  }

  &.warning {
    border-color: #e6a23c;
    color: #fff;
    background-color: #e6a23c;

    &.isPlain {
      border-color: #ebb563;
      color: #cf9236;
      background-color: #fdf6ec;
    }
  }

  &.error {
    border-color: #f56c6c;
    color: #fff;
    background-color: #f56c6c;

    &.isPlain {
      border-color: #dd6161;
      color: #dd6161;
      background-color: #fef0f0;
    }
  }
}

.#{$pre}-alert {
  position: relative;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: normal;
  color: #909399;
  background-color: #f4f4f5;

  @include alert-type();

  .#{$pre}-alert-part {
    position: relative;
    display: flex;

    &.is-center {
      justify-content: center;
    }

    .icon {
      position: relative;
      display: inline-block;
      width: 30px;
      text-align: center;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    .content-part {
      position: relative;
      display: inline-block;
      padding: 0 10px;

      .title {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
      }

      .content {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
  }
}
