@import '../../../../../../../../css/config/index';

.#{$pre}-cascader-auto {
  display: inline-block;
  overflow: auto;
  font-weight: normal;
  font-size: 14px;
  color: #606266;

  & > .#{$pre}-cascader-ul {
    & > li {
      position: relative;
      padding: 0 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.over,
      &.selected {
        font-weight: 700;
        color: #409eff;
      }

      &.disabled {
        color: #c0c4cc;
        cursor: not-allowed;
      }

      &:not(.disabled):hover {
        background: #f5f7fa;
        cursor: pointer;
      }

      & > .direction-left {
        position: absolute;
        left: 2px;
        display: inline-block;
      }

      & > .direction-right {
        position: absolute;
        right: 5px;
        display: inline-block;
      }
    }
  }
}
