@import '../../../../css/popper/arrow';
@import '../../../../css/popper/darktheme';
@import '../../../../css/config/index';

.#{$pre}-tooltip {
  position: relative;
  display: inline-block;

  .#{$pre}-popper {
    border-radius: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5rem;
    box-shadow: 0 0 12px #0000001a;

    &.light {
      border: 1px solid #ccc;
      background: #fff;
    }

    &.dark {
      @include darkTheme();
    }

    .#{$pre}-popper-content {
      max-height: 300px;
      padding: 5px 15px;
      overflow: auto;
      white-space: nowrap;
    }

    @include arrowLeftDeviation();
  }
}
