@import '../../../../../../css/config/index';

.#{$pre}-month-picker {
  width: 332px;
  padding: 5px;
  border: 1px solid #e4e7ed;
  border-radius: 5px;
  font-weight: normal;
  color: #606266;
  background-color: #fff;
  box-shadow: 0 0 12px #0000001a;
  user-select: none;

  .title {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e4e7ed;
    font-size: 14px;
    line-height: 50px;

    & > div:nth-child(1) {
      width: 50px;
      text-align: center;
      vertical-align: middle;

      &:hover {
        color: #409eff;
        cursor: pointer;
      }
    }

    & > div:nth-child(2) {
      display: inline-block;
      width: 220px;
      font-size: 16px;
      text-align: center;
      vertical-align: middle;
    }

    & > div:nth-child(3) {
      display: inline-block;
      width: 50px;
      text-align: center;
      vertical-align: middle;

      &:hover {
        color: #409eff;
        cursor: pointer;
      }
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: 150px;
    font-size: 0;

    & > div {
      display: inline-block;
      width: 80px;
      height: 50px;
      font-size: 14px;
      line-height: 50px;
      text-align: center;

      &.able:hover,
      &.selected {
        color: #409eff;
        cursor: pointer;
      }

      &.disabled {
        opacity: 0.5;

        &:hover {
          color: #606266;
          cursor: not-allowed;
        }
      }
    }
  }
}
