@import '../../../../css/config/index';

.#{$pre}-input {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  white-space: nowrap;
  color: #606266;
  background-color: #fff;

  &:not(.disabled):hover {
    border-color: #c0c4cc;
  }

  &:not(.disabled).focus {
    border-color: #409eff;
  }

  .#{$pre}-input-content {
    flex: 1;
    min-width: 0;
    height: 100%;
    padding: 0 15px;
    border-radius: 5px;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .#{$pre}-icon {
    padding-right: 10px;
    color: #cdcdcd;
    cursor: pointer;

    &.#{$pre}-hidden {
      visibility: hidden;
    }

    &:hover {
      color: #333;
    }
  }

  .#{$pre}-counter {
    padding-right: 10px;
    font-size: 12px;
    color: #909399;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }
}
