@import '../../../../css/config/index';

.#{$pre}-textarea {
  position: relative;
  display: inline-flex;

  .#{$pre}-counter {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #909399;
  }
}

.#{$pre}-textarea-content {
  padding: 5px 10px;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  outline: none;
  font-size: 0.85rem;
  line-height: 1.5;
  color: #606266;

  &:hover {
    border-color: #c0c4cc;
  }

  &:focus {
    border-color: #409eff;
  }
}
