@import '../../../../css/config/index';

.#{$pre}-slider {
  position: relative;
  width: 100%;
  height: 6px;
  margin: 10px 0;
  border-radius: 3px;
  background-color: #e4e7ed;
  cursor: pointer;
  user-select: none;

  .finished-part {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #409eff;

    &.disabled {
      background-color: #c0c4cc;
    }
  }

  .circular-part {
    position: absolute;
    z-index: 2;
    top: -4px;
    width: 14px;
    height: 14px;
    border: 2px solid #409eff;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    cursor: move;
    user-select: none;

    &.disabled {
      border-color: #c0c4cc;
      cursor: not-allowed;
    }

    &:not(.disabled).isMoving,
    &:not(.disabled).isHover {
      top: -5px;
      width: 16px;
      height: 16px;
    }

    .tooltip-reference {
      width: 14px;
      height: 14px;
    }
  }

  .stop-part {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .item {
      position: absolute;
      z-index: 1;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
      transform: translateX(-50%);

      .mark-html {
        position: absolute;
        top: 16px;
        left: 50%;
        font-weight: normal;
        font-size: 14px;
        color: #909399;
        transform: translateX(-50%);
      }
    }
  }
}
