@import '../../../../css/config/index';

.#{$pre}-checkbox-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  font-size: 1rem;
  white-space: nowrap;
  color: #606266;
  background-color: #fff;
  cursor: pointer;
  user-select: none;

  &.checked {
    border-color: #409eff;
    color: #fff;
    background-color: #409eff;
  }

  &.disabled {
    color: #c0c4cc;
    background-color: #f5f7fa;
    cursor: not-allowed;
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    margin-left: -1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &:not(:first-child):not(:last-child) {
    margin-left: -1px;
    border-radius: 0;
  }

  &:not(.checked):not(.disabled):hover {
    z-index: 2;
    border-color: #66b1ff;
    color: #66b1ff;
  }
}
