h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fz20 {
  font-size: 20px;
}

.fz18 {
  font-size: 18px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
